.twoColumns{
    -webkit-column-count:2; /* Chrome, Safari, Opera */
    -moz-column-count:2;    /* Firefox */
    column-count:2;         /* padrão */
}
.left{
    width: auto;  
    text-align: center; 
}
.right{
    text-align: center;  
}
p{
    font-size: 2em;
    font-family: 'museo500';
    color: #2a67bd; 
}